div {
    background: #1e1e20;
}

div > .btn-group {
    padding: 50px 50px 0px 0px;
}

.container > p {
    color: rgb(39, 39, 39)
    font-family: Impact, Charcoal, sans-serif
}

p {
    color: #ffffff;
}

.container {
    color: rgb(255, 255, 255)
}