<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="main-sheet" rel="stylesheet" href="http://app.saul.angry.ventures/themes/yeti/stylesheet.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div style="height: 140px; overflow: hidden; background: #1e1e20;">
    <div th:if="${isAuth}" class="btn-group pull-right">
        <a th:href="@{/{userId}/profile(userId=${user.id})}" class="btn btn-default" role="button">Profile</a>
    </div>
    <div th:if="${not isAuth}" class="btn-group pull-right">
        <a href="/login" class="btn btn-default" role="button">Login</a>
    </div>
</div>

<section th:if="${isAuth}" class="row" style="height: 255px; overflow: hidden;">
    <div class="col-md-3">
        <div class="list-group" th:each="folder : ${user.userFolders}">
            <a href="#" class="list-group-item"><span th:text="${folder.title}"></span></a>
        </div>
    </div>
    <div class="col-md-9"></div>
</section>
</body>

</html>

