<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="main-sheet" rel="stylesheet" href="http://app.saul.angry.ventures/themes/yeti/stylesheet.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div style="height: 140px; overflow: hidden;">
</div>
<div class="container" style="height: 470px; overflow: hidden; top: 63px; position: relative; width: 546px;">
    <form th:action="@{/sing_up}" method="post">
        <input name="username"type="text" class="form-control" placeholder="Name" style="height: 50px; overflow: hidden; top: 20px; position: relative;">
        <input name="login" type="text" class="form-control" placeholder="Login" style="height: 50px; overflow: hidden; top: 60px; position: relative;">
        <input name="password" type="password" class="form-control" placeholder="Password" style="height: 50px; overflow: hidden; top: 100px; position: relative;">
        <input name="passwordRep" type="password" class="form-control" placeholder="Repeat password" style="height: 50px; overflow: hidden; top: 140px; position: relative;">
        <button type="submit" class="btn btn-default center-block" style="height: 50px; overflow: hidden; top: 200px; position: relative;">SingUp</button>
    </form>
    <p th:if="${passErr}"style="top: 80px; height: 45px; overflow: hidden; position: relative; left: 1px; width: 515px;">passwords don't match</p>
    <p th:if="${loginErr}"style="top: 80px; height: 45px; overflow: hidden; position: relative; left: 1px; width: 515px;">this login is already occupied</p>

</div>
</body>
</html>